:80 {
    root * /srv
    file_server

    handle /api/* {
        reverse_proxy server:8080 {
            lb_policy round_robin
        }
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
